:root {
    --background: #EC1C24;
    --white: #ffffff;
    --black: #000;
}

body {
    color: #fff;
    background-image: linear-gradient(3.5deg, #a4282a 105.3%, #bbb 187.7%);
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

header {
    display: grid;
}

header div {
    text-align: center;
}

h1 {
    text-align: center;
    min-width: 250px;
}

h2 {
    text-align: center;
}

header div img {
    margin: 2rem auto;
}

.hamb-menu::before {
    content: "\2630";
}

.hamb-menu {
    position: absolute;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    color: var(--white);
    cursor: pointer;
    text-align: center;
    padding: .25rem 2vw;
    right: 10px;
    top: 10px;
    width: 44px;
}

.hamb-menu.open::before {
    content: "X";
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    overflow: hidden;
    padding: 0;
    margin-bottom: 2px;
    list-style: none;
}

nav ul li a {
    display: block;
    padding: .5rem;
    text-decoration: none;
    text-align: center;
    color: var(--white);
    border-radius: 6px;
}

.active {
    background-color: rgba(0, 0, 0, 0.414);
}

nav ul li a:hover {
    background-color: var(--black);
}

nav.open {
    grid-template-rows: 1fr;
}

main {
    border-top: 2px solid #00000023;
    border-bottom: 2px solid #00000023;
    padding: 2rem 2rem 3rem 2rem;
}

section {
    border-radius: 9px;
}

.history {
    text-align: center;
    padding-top: 2rem;
}

.history p {
    min-width: 280px;
    max-width: 80%;
    padding: 2rem;
    margin: 0 auto;
    background-color: #282525;
    border-radius: 9px;
}

.club-legends {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.club-legends .idols-container img {
    box-shadow: 0 0 0 5px #ffffff3a,
        0 15px 50px #000;
    border-radius: 6px;
}

.weather {
    text-align: center;
    background-color: #282525;
    padding: .5rem;
    margin: 2rem 1rem;
}

.visitant-info {
    text-align: center;
    padding: .5rem;
    margin: 2rem 1rem;
    background-color: #282525;
}

.map {
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 33vw);
    padding: 1rem 0;
}

footer div {
    text-align: center;
    align-content: center;
}

.container-slider {
    width: 90%;
    max-width: 1600px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 5px #ffffff3a,
        0 15px 50px #000;
    position: relative;
}

.slider {
    display: flex;
    width: 300%;
    margin-left: -100%;
}

.slider__section {
    width: 100%;
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    color: black;
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn:hover {
    background: #fff;
}

.slider__btn--left {
    left: 10px;
}

.slider__btn--right {
    right: 10px;
}

/* Players Page*/
.cards {
    justify-content: center;
}

dialog {
    padding: 2rem;
    width: 60%;
    height: 70vh;
    text-align: center;
    align-content: center;
}

.player-container {
    min-width: 300px;
    width: 300px;
    height: 450px;
    text-align: center;
    align-content: center;
    border-radius: 16px;
    box-shadow: 0 0 3rem #000000;
}

::backdrop {
    background-color: rgba(0, 0, 0, .7);
}

dialog img {
    width: 30vh;
    height: auto;
}

.player-container img,
dialog img {
    object-fit: cover;
}

.player-container img {
    width: 200px;
    height: auto;
}

.players-main {
    grid-template-columns: 1fr;
}

.players-main .cards {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: .5rem;
    align-items: center;
}

.cards div {
    background-color: #282525;
    padding: 1rem;
    border-radius: 6px;
}

.open-modal {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border-radius: 20px;
    padding: .5rem 1rem;
}

.open-modal:hover {
    color: #a4282a;
}

#closeModal {
    position: absolute;
    top: 10px;
    right: 5px;
}


/* Join Page */
.main-join {
    grid-template-columns: 1fr;
}

form {
    max-width: 55rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

fieldset {
    margin: 2rem 0;
    border: 1px solid #a0a4a7;
    border-radius: 6px;
    padding: .5rem 2%;
    background-color: #282525;
}

legend {
    padding: 0 .5rem;
    font-size: 1.4rem;
}

label {
    display: block;
    padding-top: 1rem;
}

fieldset div {
    padding-top: 1rem;
    font-size: 1.3rem;
}

input[type="text"],
input[type="email"],
input[type="telephone"] {
    display: block;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.75rem;
    max-width: 400px;
    width: 100%;
    font-size: 1.2rem;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 6px;
    padding-top: 0.75rem;
}

input[type="submit"] {
    border-radius: 15px;
    background-color: #000;
    color: #fff;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 3px 3px 6px #9a8d8d;
    padding: .8rem;
}

input[type="submit"]:hover {
    color: yellow;
    cursor: pointer;
}

input:required {
    border-right: 8px solid #dc0004;
}

input:required:valid {
    border-right: 8px solid rgb(4, 183, 22);
}

.membership-lvl {
    padding: 1rem;
}

.membership-lvl h2 {
    padding-bottom: 1.5rem;
}

.membership-lvl div {
    background-color: #282525;
    text-align: center;
    padding: 2rem 2rem;
    margin: 1rem 0.5rem;
    border-radius: 9px;
    border: 1px solid #000;
    max-width: 500px;
    border: 1px solid #a0a4a7;

}

.membership-lvl div a {
    text-decoration: none;
    color: white;
    background-color: var(--blue--button);
    padding: .5rem .8rem;
    border-radius: 50px;
    font-size: 1rem;
}

.membership-lvl div a:hover {
    background-color: #fff;
    color: #a4282a;
}

/* thank you page*/

.userinfo {
    background-color: #282525;
    padding: 2rem;
    border-radius: 6px;
}

.userinfo a {
    color: #fff;
    text-decoration: none;
}

.copypage {
    color: #fff;
}