:root {
    --main-color: #ecf3f4;
    --dark-blue: #062160;
    --text-color: #6691F5;
    --blue--button: #3fdbf3c0;
}

body {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
    color: var(--dark-blue);
}

p {
    font-family: "Gowun Batang", system-ui;
    font-weight: 600;
    color: var(--dark-blue);
}

header {
    background-color: var(--main-color);
    text-align: center;
}

.logo-img {
    display: flex;
    padding: .5rem 0;
    align-items: center;
}

.logo-img div {
    padding-left: 1rem;
    max-width: 200px;
}

.logo-img p {
    font-size: 1.1rem;
}

#myButton::before {
    content: "\2630";
}

#myButton {
    position: absolute;
    font-size: 2.5rem;
    background-color: rgba(43, 43, 107, 0);
    border: none;
    color: #000;
    cursor: pointer;
    width: 44px;
    text-align: center;
    padding: .25rem 2vw;
    right: 10px;
    top: 10px;
}

#myButton.open::before {
    content: "X";
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav a {
    display: block;
    padding: .5rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

nav ul {
    padding: 0;
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

ul.menuLinks li a {
    padding: .75rem 2vw;
    text-decoration: none;
    color: #000;
}

ul.menuLinks .active {
    color: #0032a8;
}

ul.menuLinks {
    list-style-type: none;
    font-size: 1.5rem;
    margin: 0;
}

ul.menuLinks a:hover {
    border-bottom: 3px solid var(--blue--button);
}

footer {
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1rem;
    min-width: 350px;
}

footer p {
    margin: .4rem;
}

.social-media {
    text-align: center;
}

.social-media img {
    width: 70px;
    height: auto;
}

/*Directory Page css*/
/*Directory Page */
#directory-page {
    margin: 0 auto;
    padding: 0.5rem;
    max-width: 700px;
    background-color: #fff;
}

article h2 {
    text-align: center;
}

.menu-directory {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #164898;
    text-align: center;
}

.menu-directory button {
    padding: 1rem;
    font-weight: 600;
}

.grid-directory section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 1.5rem 1.5rem 1.5rem;
    background-color: #cfd3d6;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.grid-directory {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
    align-items: center;
    margin-top: 1rem;
}


.grid-directory img {
    border: 1px solid #00000086;
    box-shadow: 0 0 10px #333;
}

.list-directory {
    display: flex;
    flex-direction: column;
}

.list-directory section {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
    box-sizing: border-box;
    justify-items: left;
}

.list-directory section>* {
    margin: 0 1rem;
}

.list-directory section img {
    display: none;
}

.list-directory section h2 {
    font-size: 0.8rem;
    padding: 0.5rem;
}

.list-directory section h4 {
    font-size: 0.7rem;
    align-self: center;
    font-weight: 500;
}

.list-directory section a {
    font-size: 0.7rem;
    padding-bottom: 3%;
}

.list-directory section:nth-child(even) {
    background-color: #cfd3d6;
}

.grid-directory section h2 {
    font-size: 1.3rem;
}

.grid-directory section h4 {
    font-weight: 600;
    font-size: smaller;
}

.grid-directory section a {
    font-size: .85rem;
    color: navy;
    letter-spacing: 1.1pt;
}

#directory-page img {
    max-width: 100%;
}

/* Home Page Styling */

#home-page {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1rem;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    text-align: center;
    grid-column: 1/5;
}

.hero div {
    width: 100%;
    grid-column: 1/5;
    grid-row: 2/4;
}

.hero .join {
    grid-column: 3/5;
    grid-row: 3/5;
    text-align: center;
    background-color: var(--blue--button);
    border-radius: 9px;
    margin: 0 auto;
}

.hero div img {
    width: 100%;
    height: auto;
}

.join a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 1rem 0;
}

section h2 {
    padding: 1rem;
    background-color: var(--main-color);
    text-align: center;
    color: var(--dark-blue);
    margin-top: 0;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

section .welcome {
    border-radius: 9px;
}

.weather,
.forecast-weather,
.events {
    text-align: center;
    background-color: #cfd3d6;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.ads {
    display: grid;
    gap: 2rem;
}

.ads div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    padding: 2rem 1rem;
    border-radius: 9px;
    background-color: #cfd3d6;
    text-align: center;
    justify-content: center;
}

.ads h3 {
    font-size: 1.5rem;
    grid-column: 1/3;
    grid-row: 1/2;
}

.ads div img {
    grid-column: 1/2;
    grid-row: 3/6;
    justify-self: center;
}

.ads div p:first-of-type {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-top: -1rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #000;
}

.ads div p:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 3/4;
}

.ads div p:nth-of-type(3) {
    grid-column: 2/3;
    grid-row: 4/5;
}

.ads div a {
    border-radius: 10px;
    background-color: var(--blue--button);
    color: var(--dark-blue);
    padding: 1rem;
    max-width: 7rem;
    text-decoration: none;
    justify-self: center;
}

/* Join Page */
form {
    max-width: 55rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-size: 1rem;
    background-color: var(--main-color);
}

fieldset {
    margin: 2rem 0;
    border: 1px solid #dadddf;
    border-radius: 6px;
    padding: .5rem 2%;
}

legend {
    color: var(--dark-blue);
    padding: 0 .5rem;
    font-size: 1.3rem;
}

label {
    display: block;
    padding-top: 1rem;
    font-size: 1rem;
}

div {
    padding-top: 1rem;
    font-size: 1.4rem;
    color: var(--dark-blue);
}

input[type="text"],
input[type="email"],
input[type="telephone"] {
    display: block;
    background-color: var(#fff);
    color: #000;
    border: 1px solid #000;
    border-radius: 7px;
    padding: 0.75rem;
    max-width: 400px;
    width: 100%;
    font-size: 1.2rem;
}

textarea {
    display: block;
    border: 1px solid var(--dark-blue);
    width: 100%;
    max-width: 400px;
}

input[type="radio"] {
    margin-right: 6px;
    padding-top: 0.75rem;
}

input[type="submit"] {
    border-radius: 15px;
    background-color: var(--blue--button);
    color: var(--dark-blue);
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 3px 3px 6px #999;
    padding: .8rem;
}

input[type="submit"]:hover {
    background-color: #000;
    color: var(--main-color);
    cursor: pointer;
}

input:required {
    border-left: 8px solid red;
}

input:required:valid {
    border-left: 8px solid rgb(4, 183, 22);
}

.membership-lvl {
    padding: 2rem;
    display: grid;
    gap: 2rem;
}

.membership-lvl div {
    text-align: center;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid var(--dark-blue);
}

.membership-lvl div a {
    text-decoration: none;
    color: var(--dark-blue);
    background-color: var(--blue--button);
    padding: .5rem .8rem;
    border-radius: 50px;
    font-size: 1rem;
}

.membership-lvl div a:hover {
    background-color: #000;
    color: #fff;
}