@media only screen and (min-width: 700px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }

    #myButton {
        display: none;
    }

    nav {
        grid-template-rows: 1fr;
    }

    ul.menuLinks {
        display: flex;

    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
        align-content: end;
        padding: 0;
    }

    nav a {
        display: block;
        font-size: 1.2rem;
        padding: 0;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        gap: 0.5rem;
        align-items: center;
    }

    /* Directory Page */

    article h2 {
        text-align: center;
        grid-column: 1/3;
    }

    .list-directory {
        display: flex;
        flex-direction: column;
    }

    .list-directory section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0;
        padding: 0.25rem;
        height: 100px;
        align-items: center;
    }

    .list-directory section>* {
        margin: 0 1rem;
    }

    .list-directory section img {
        display: none;
    }

    .list-directory section h2 {
        font-size: 0.8rem;
        padding: 1rem;
    }

    .list-directory section h4 {
        font-size: 0.7rem;
    }

    .list-directory section a {
        font-size: 0.7rem;
        align-self: center;

    }

    .list-directory section:nth-child(even) {
        background-color: #dadddf;
    }

    /* Chamber Home Page */

    #home-page .hero h2 {
        grid-column: 2/4;
    }

    .hero .join {
        width: 50%;
        padding: 0 1rem;
    }

    #home-page {
        grid-template-columns: repeat(4, 1fr);
    }

    .hero {
        grid-column: 1/5;
    }

    .events {
        grid-column: 1/3;
    }

    .ads {
        display: grid;
        grid-column: 1/5;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .ads div a,
    .ads div p:nth-of-type(2),
    .ads div p:nth-of-type(3) {
        justify-self: left;
    }

    /* Join Us page */
    #join-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    form {
        grid-column: 1/2;
        grid-row: 1;
        align-self: center;
    }

    .membership-lvl {
        grid-column: 2/3;
    }

}