:root {
    --main-color: rgb(43, 43, 107);
}

body {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: 1fr;
}

header div {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    gap: 2rem;
    align-items: center;
}

.profile {
    box-shadow: 2px 5px rgba(37, 35, 35, 0.359);
}

header h1 {
    color: #fff;
    align-self: center;
    font-weight: 500;
}

nav a {
    display: block;
    text-align: center;
    padding: .5rem;
    color: #fff;
    text-decoration: none;
}

#myButton::before {
    content: "\2630";
}

#myButton {
    position: absolute;
    font-size: 2rem;
    background-color: rgba(43, 43, 107, 0);
    border: none;
    color: #fff;
    cursor: pointer;
    width: 44px;
    text-align: center;
    padding: .25rem 2vw;
    right: 10px;
    top: 10px;
}

#myButton.open::before {
    content: "X";
}

nav.menuLinks {
    display: none;
    background-color: #000000;
    font-size: 1.5rem;
}

.menuLinks .active {
    color: rgb(7, 222, 255);
}

nav.menuLinks a:hover {
    background-color: #c1b7b7;
    color: #000;
}

nav.menuLinks.open {
    display: block;
}

main {
    padding: 1rem;
    text-align: center;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
    background-color: var(--main-color);
    color: #fff;
    padding: .8rem .6rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    gap: .5rem;
    border-bottom: 1px solid #00000051;
    padding-bottom: .4rem;
}

button {
    border: none;
    background-color: #000;
    color: #fff;
    padding: .2rem 1rem;
    width: 100%;
    border-radius: 5px;
}

.classes {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: grid;
    gap: .8rem;
}

.classes a {
    padding: .5rem 1rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
}

a.wdd {
    background-color: var(--main-color);
    color: #fff;
}

a.cse {
    background-color: rgb(194, 189, 189);
    color: #000;
}

footer {
    text-align: center;
    background-color: var(--main-color);
    color: #fff;
    padding: 2.5rem;
}

#lastmodified {
    color: yellow;
}